body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	background-color: #dddddd;
}

#content {
	height: -webkit-calc(100% - 20px);
}

.wnd {
	border-radius: 10px;
	border: 2px ridge #a1a1a1;
}

.main {
	float: left;
	width: -webkit-calc(50% - 4px);
	height: -webkit-calc(50% - 4px);
}

.max {
	z-index: 499;
	top: 0;
	left: 0;
	position: relative;
	width: -webkit-calc(100% - 4px);
	height: -webkit-calc(100% - 4px);
}

.a_b {
	border: 2px ridge #ffa500;
}

.i_b {
	border: 2px ridge #a1a1a1;
}

.a_t {
	background-color: #51be95;
}

.i_t {
	background-color: #a0a0a0;
}

.dp {
	display: block;
}

.ndp {
	display: none;
}

.title {
	height: 18px;
	width: -webkit-calc(100% - 20px);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 2px 10px;
	text-align: left;
}

.worker {
	width: -webkit-calc(100% - 10px);
	height: -webkit-calc(100% - 32px);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #dddddd;
	overflow: auto;
	padding: 5px;
	margin: 0 auto;
}

#footer {
	height: 18px;
}

#msg {
	float: left;
	height: 100%;
	padding-left: 10px;
}

#stat {
	float: right;
	height: 100%;
	padding-right: 10px;
}

.ui-autocomplete {
	max-height: 100px;
	z-index: 500;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

#mask {
	top: 0;
	left: 0;
	width: 100%;
	height: -webkit-calc(100% - 20px);
	position: absolute;
	background-color: #a0a0a0;
	opacity: .90;
	z-index: 500;
	background-color: #a0a0a0;
}

#cmd {
	border: 1px solid #a1a1a1;
	padding: 5px;
	height: 50px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 10% auto;
}

.center {
	height: 600px;
	margin-top: -300px;
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	overflow: auto;
}

.fkey {
	border: 1px solid rgb(227, 190, 35);
	background-color: rgb(255, 247, 133);
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	padding: 1px 3px 0px;
	border-radius: 3px;
}

#chat_content {
	height: -webkit-calc(80% - 4px);
	width: -webkit-calc(100% - 4px);
	overflow: auto;
}

#chat_textarea {
	height: -webkit-calc(20% - 4px);
	width: -webkit-calc(100% - 14px);
	background-color: white;
	padding: 0 5px;
	overflow: auto;
}

.highlight {
	background-color: yellow
}

#popup {
	z-index: 501;
	width: 25%;
	height: 30%;
	position: absolute;
}

#popup_content {
	overflow: auto;
	height: -webkit-calc(100% - 14px);
}

.a_highlight_bg {
	background-color: #FFC107;
}

#popup_content>div {
	border: 1px solid #a1a1a1;
	padding: 3px;
}

#popup .worker {
	background-color: #ffffff;
}

#popup .worker .notice {
	margin: 10px;
}

.active_border {
	border-color: #ffa500;
}

.inactive_border {
	border-color: #a1a1a1;
}

.active_title {
	opacity: 1;
}

.inactive_title {
	opacity: 0.2;
}

#chat_content .msg {
	background-color: rgba(110, 210, 230, 0.21);
	border: 1px solid;
	padding: 5px;
	border-radius: 3px;
}

#chat_content .to {
	float: left;
	color: #8b0000;
	clear: both
}

#chat_content .from {
	float: right;
	color: #008000;
	clear: both
}

.ui-tabs {
	padding: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 3px 5px;
}

.ui-tabs .ui-tabs-nav {
	padding: 0;
}

.tab_div {
	height: 200px;
	overflow: auto;
}

.find {
	position: absolute;
	z-index: 1;
	left: -webkit-calc(50% - 125px);
	height: 20px;
	width: 250px;
	top: -webkit-calc(100% - 20px);
}

.help {
	margin: 50px auto;
	width: 80%;
}