<div class="wnd" tabIndex="-1">
	<div class="title">Chat</div>
	<div class="worker">
		<div id="chat">
			<div id="chat_content" tabIndex="-1">

				近日，英国卫生大臣杰瑞米·亨特宣布，要在英国实施新的医疗改革，其中针对初级医生的措施包括：在跟初级医生签订新合同时，增加基础工资的额度、增加工作时间、取消所有津贴和加班、改为每周七天工作制（现在是5天）、所有初级医生实行轮班制等。杰瑞米·亨特表示，这一系列改革措施计划在今年8月开始执行。

				4月26日至27日，英国各地初级医生组织有计划、有组织的全国大罢工。这是英国历史上规模最大的医生集体罢工事件，在医生协会的组织下，英国英格兰地区的初级医生和初级护理人员“倾囊而出”，走上街头为自己的权益而呐喊。

				此次改革的规定也不仅针对要签订工作合同的医护人员，对医学院在校生也有影响。卫生部门计划从8月开始，取消护校学生的助学金。现在英国培养初级护士的护理学院的学费都是由NHS资助的，不需要申请贷款就能完成学业（英国医学院和护理学院学费高昂）。初级护理人员此次走上街头罢工，是因为他们的助学金可能被取消，这让护理学校的学生“不能忍受”。
				近日，英国卫生大臣杰瑞米·亨特宣布，要在英国实施新的医疗改革，其中针对初级医生的措施包括：在跟初级医生签订新合同时，增加基础工资的额度、增加工作时间、取消所有津贴和加班、改为每周七天工作制（现在是5天）、所有初级医生实行轮班制等。杰瑞米·亨特表示，这一系列改革措施计划在今年8月开始执行。

				4月26日至27日，英国各地初级医生组织有计划、有组织的全国大罢工。这是英国历史上规模最大的医生集体罢工事件，在医生协会的组织下，英国英格兰地区的初级医生和初级护理人员“倾囊而出”，走上街头为自己的权益而呐喊。

				此次改革的规定也不仅针对要签订工作合同的医护人员，对医学院在校生也有影响。卫生部门计划从8月开始，取消护校学生的助学金。现在英国培养初级护士的护理学院的学费都是由NHS资助的，不需要申请贷款就能完成学业（英国医学院和护理学院学费高昂）。初级护理人员此次走上街头罢工，是因为他们的助学金可能被取消，这让护理学校的学生“不能忍受”。
			</div>
			<div id="chat_textarea" tabIndex="-1" class="mousetrap"
				contenteditable="true"></div>
		</div>
	</div>
</div>
