<span id='msg'></span>
<span id='stat'></span>
<div id="dyna"></div>
<div id="popup" tabIndex="-1" class="absolute_wnd">
	<div class="title">Notice</div>
	<div class="worker" tabIndex="-1">
		<div>abc</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>
			<a href="baidu.com">abcdefghi</a>
		</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
		<div>abcdefghi</div>
	</div>
</div>