<span id='msg'>Please press '?' for help</span>
<span id='stat'></span>
<div id="dyna"></div>
<div id="popup" tabIndex="-1" class="wnd ndp">
	<div class="title">Notice</div>
	<div class="worker">
		<div id="popup_content" tabIndex="-1">
			<div>
				<a href="baidu.com">abcdefghi</a>
			</div>
			<div>abc</div>
			<div>abcdefghi</div>
			<div>abcdefghi</div>
			<div>
				<a href="baidu.com">abcdefghi</a>
			</div>
			<div>abc</div>
			<div>abcdefghi</div>
			<div>abcdefghi</div>
			<div>
				<a href="baidu.com">abcdefghi</a>
			</div>
			<div>abc</div>
			<div>abcdefghi</div>
			<div>abcdefghi</div>
			<div>
				<a href="baidu.com">abcdefghi</a>
			</div>
		</div>
	</div>
</div>