<div class="wnd dp main" tabIndex="-1">
	<div class="title">Tools</div>
	<div class="worker">
		<div id="tools">
			<div id="tools_content">
				<div id="tools_tabs">
					<ul>
						<li><a href="#tabs-1">Memo</a></li>
						<li><a href="#tabs-2">Note</a></li>
					</ul>
					<div id="tabs-1">
						<a
							href="http://sports.sina.com.cn/basketball/nba/2016-04-27/doc-ifxrpvcy4547502.shtml">为何最好的控卫换来最多的批评声</a>
						<br /> <a
							href="http://sports.sina.com.cn/basketball/nba/2016-04-27/doc-ifxrpvcy4538456.shtml">科尔：格林请继续吼我
							把库里看成迷你版邓肯</a>
					</div>
					<div id="tabs-2">
						<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus
							gravida ante, ut pharetra massa metus id nunc. Duis scelerisque
							molestie turpis. Sed fringilla, massa eget luctus malesuada,
							metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
							aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit
							aliquam. Praesent in eros vestibulum mi adipiscing adipiscing.
							Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel
							metus. Ut posuere viverra nulla. Aliquam erat volutpat.
							Pellentesque convallis. Maecenas feugiat, tellus pellentesque
							pretium posuere, felis lorem euismod felis, eu ornare leo nisi
							vel felis. Mauris consectetur tortor et purus.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
