<div class="wnd dp main" tabIndex="-1">
	<div class="title">Tools</div>
	<div class="worker">
		<div id="tools">
			<div id="tools_tabs" class="tabs">
				<ul class="tab_title">
					<li><a href="#tabs-11">Memo</a></li>
					<li><a href="#tabs-12">About</a></li>
				</ul>
				<div id="tabs-11" class="tab_div" tabIndex=-1>
					<textarea id="memo" class="mousetrap"
						onkeypress="event.stopPropagation();"
						onkeydown="if(event.keyCode === $.ui.keyCode.TAB){event.preventDefault();}"></textarea>
				</div>
				<div id="tabs-12" class="tab_div" tabIndex='-1'>
					<p>
						该软件希望用户能脱离鼠标以提高速度，该软件还不成熟，有些模块还未开发完成，请大家见谅。<br />如有bug或疑问，请发送至venlv2046@gmail.com，谢谢。
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
